<!DOCTYPE HTML>
<html>
<head>
	<title>Taokas dict</title>
	<style>
		body {background-color:white}
		.item {height: 150px; background-color:lightgrey; margin: 15px; padding: 10px;}
		.lexicon {float: left; font-size: 20px; margin: 5px 0;}
		.category {float: right; font-size: 10px; margin: 5px 0;}
		.gloss {float: left; width: 100%}
		.description {float: left; width: 100%}
	</style>
	
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	
</head>
<body>
	<ul>
		<li><a href="https://syhpan.github.io/test1/centralpaiwan/voc.html">族語分級標記-中排灣語</a></li>
	</ul>
	
	<div id="content" class="12u skel-cell-important">
		<section>
			<header>
				<h2>字典檢索</h2>
				<span class="byline">Search Taokas Dictionary</span>
			</header>

			<!-- Vue.js App  -->
			<div class="vue-app" id="app">

				<input type="text" placeholder="詞項" v-model="search.lexicon">

				<div class="dict">
					<div v-for="n in jsondata" class="item">
						<div class="lexicon">[[ n.lemma ]]</div>
						<span class="category">[[ n.category ]]</span>
						<p class="gloss">[[ n.gloss ]]</p>
						<p class="description">[[ n.description ]]</p>
					</div>
				</div>
			</div>
			<!-- Vue.js App End -->
		</section>
	</div>

<!-- ######## Vue.js #######-->

<script>
        var app = new Vue({
			delimiters: ['[[', ']]'],
			el: '#app',
			data() {
				return {
					jsondata: [],
				}
			},
            created() {
				this.$http.get('https://syhpan.github.io/test1/data/taokas-dict.json').then(function (data) {
					this.jsondata = data;
				});
			},
		})
		
</script>

</body>

</html>
